# server environment variable
export TOTAL_TABLE_NAME="toyProject-board-local"
export ACCESS_TOKEN_SECRET="verysecrettoken"
export ACCESS_TOKEN_LIFE="15m"
export REFRESH_TOKEN_SECRET="mobileRefresh"
export REFRESH_TOKEN_LIFE="15d"
# client environment variable
export BASE_URL="/"