{
  "configData": {
    "TOTAL_TABLE_NAME": "FAKE_DYNAMODB_TABLE",
    "ACCESS_TOKEN_SECRET": "FAKE_JWT_KEY",
    "ACCESS_TOKEN_LIFE": "15m",
    "REFRESH_TOKEN_SECRET": "FAKE_JWT_KEY",
    "REFRESH_TOKEN_LIFE": "15d"
  }
}